# Untuk Netlify Environment Variables
FONNTE_API_KEY=masukkan_api_key_fonnte_anda
FIREBASE_CREDENTIALS={"type":"service_account","project_id":"..."}
ADMIN_PASSWORD=buat_password_rahasia_untuk_dashboard